<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.calicdan.florsgardenapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_flors"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FlorsgardenApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".RegisterAdminActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AdminAnswersActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AdminForumActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".PurchasesView"
            android:exported="false"
            android:label="@string/title_activity_purchases_view"
            android:theme="@style/Theme.FlorsgardenApp.NoActionBar" />
        <activity
            android:name=".AdminChatActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AdminChatbotActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SendImageActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AdminDetailsActivity"
            android:exported="false"
            android:label="@string/title_activity_admin_details"
            android:theme="@style/Theme.FlorsgardenApp.NoActionBar" />
        <activity
            android:name=".ImageRecogResultOrganic"
            android:exported="false" />
        <activity
            android:name=".ChangeEmailActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AddGuidesWorms"
            android:exported="false" />
        <activity
            android:name=".AddGuidesHow"
            android:exported="false" />
        <activity
            android:name=".GuidesCategories"
            android:exported="false" />
        <activity
            android:name=".ImageRecognitionHome"
            android:exported="false" />
        <activity
            android:name=".AddInquiryActivity"
            android:exported="false"
            tools:ignore="Instantiatable">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AnswersActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ForumActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AddProduct"
            android:exported="false" />
        <activity
            android:name=".AdminStoreActivity"
            android:exported="false" />
        <activity
            android:name=".WormsCategory"
            android:exported="false" />
        <activity
            android:name=".checkOutActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileSettings"
            android:exported="false" />
        <activity
            android:name=".ChatbotActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MessageActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".VideosActivity"
            android:exported="true" />
        <activity
            android:name=".AddVideoActivity"
            android:exported="true"
           />/ android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false"
            android:parentActivityName=".Login" />
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".CartListActivity"
            android:exported="false" />
        <activity
            android:name=".ShowDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".StoreActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".AdminPurchasesView"
            android:exported="true" />
        <activity
            android:name=".AdminProfileActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterUser"
            android:exported="true"
            android:parentActivityName=".Login" />
        <activity
            android:name=".OrganicWaste"
            android:exported="true" />
        <activity android:name=".Vermiculture" />
        <activity
            android:name=".Home"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ImageRecognitionOrganicWaste"
            android:exported="true" />
        <activity
            android:name=".Worms"
            android:exported="true" />
        <activity
            android:name=".ImageRecognitionWorm"
            android:exported="true" />
        <activity
            android:name=".Search"
            android:exported="true" />
        <activity
            android:name=".AddGuidesOrganicWaste"
            android:exported="true" />
        <activity
            android:name=".AddGuidesVermiculture"
            android:exported="true" />
        <activity
            android:name=".ImageRecogResultWorm"
            android:exported="true" />
        <activity
            android:name=".HowTo"
            android:exported="true" />
        <activity
            android:name=".HomeUser"
            android:exported="true" />
        <activity android:name=".OrganicWasteUser"
            android:exported="true"/>

        <activity android:name=".WormsUser"
            android:exported="true"/>
        <activity android:name=".VideosActivityUser"
            android:exported="true"/>

        <activity android:name=".HowToUser"
            android:exported="true"/>

    </application>

</manifest>